@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@200;300;400;700&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
.container {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}
.splitter {
  display: flex;
  flex-direction: column;
}
.left,
.right {
  position: absolute;
  height: 100%;
  width: 50%;
}
.left {
  background: #e9e9e9;
}
.right {
  left: 50%;
  background: #726c6c;
}

.right-sidebar {
  position: absolute;
  right: 80px;
  top: 50%;
  transform: translateY(-50%);
  text-align: right;
  color: white;
}
.right-sidebar ul {
  list-style: none;
}
.right-sidebar li:not(:first-child) {
  padding: 3px 0;
}
.title {
  font-family: "Bebas Neue", cursive;
  font-weight: 500;
  font-size: 2em;
  margin: 0;
  padding: 0;
  color: azure;
}
.gambar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  background-image: url("/images/botol.png");
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (max-width: 900px) {
  .splitter {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
  }
  .right-sidebar {
    right: 20px;
  }
  .right-sidebar li:not(:first-child) {
    font-size: 0.8em;
  }
  .title {
    font-size: 1.1em;
  }
  .left,
  .right {
    width: auto;
    height: 50%;
  }
}
